@page "/updateMhs"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http


<a>
<p><input @bind="newNama" placeholder="Nama"/></p>
<p><input @bind="newNim" placeholder="Nim" /></p>
<p><input @bind="newAlamat" placeholder="Alamat" /></p>
<p><input @bind="newEmail" placeholder="Email" /></p>
<p><input @bind="newFoto" placeholder="Foto" /></p>
<p><input @bind="newProgmob" placeholder="Progmob" /></p>
<a> <p><button type="button" class="btn btn-success m-1" @onclick="UpdateMhs">SAVE</button></p></a>
</a>


@code {
    public int newid ;
    public string? newNama;
    public string? newNim;
    public string? newAlamat;
    public string? newEmail;
    public string? newFoto;
    public string? newProgmob;

    public async Task AddMhs()
    {
        var ambilMhs = new Mahasiswa {  nama = newNama, nim = newNim, alamat = newAlamat, email = newEmail, foto = newFoto, nim_progmob = newProgmob };
        await Http.PutAsJsonAsync("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/{nim_progmob}", ambilMhs);
    }

    public async Task UpdateMhs()
    {
        var UpdateItem = new Mahasiswa {  nama = newNama, nim = newNim, alamat = newAlamat, email = newEmail, foto = newFoto, nim_progmob = newProgmob };
    //    await Http.GetFromJsonAsync("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/{nim_progmob}", UpdateItem(Mahasiswa.Equals.id));
    }

    //public ActionResult UpdateMhs()
    //{
    //    return View(MahasiswaList.OrderBy( mh => mh.id).toList);
    //}

    //public Func editMhs(MahasiswaList mhs)
    //{
    //    var mahsis = MahasiswaList.Equals.Where(mh => mh.id == mhs.id).FirstOrDefault();
    //}

    //@Html.ActionResult Index()
    //{
    //     return @Html.View(MahasiswaList.OrderBy(mhs => mhs.id).ToList());
    //}
    //public ActionResult Edit(int Id)
    //{ 
            //here, get the student from the database in the real application
            
            //getting a student from collection for demo purpose
    //    var mhs = MahasiswaList.Where(mhs => mhs.newid == id).FirstOrDefault();
    
    //    return View(mhs);
    //}
    //public ActionResult Edit(Mahasiswa mhs)
    //    {
            //update student in DB using EntityFramework in real-life application
            
          //update list by removing old student and adding updated student for demo purpose
    //        var mahasiswa = MahasiswaList.Where(mh => mh.id == mhs.id).FirstOrDefault();
    //        MahasiswaList.Remove(mahasiswa);
    //      Mahasiswa.Add(mhs);

    //        return RedirectToAction("Index");
    //    }

}